In [1]:
# Mandatory import & sys path to pass - no need to change, this exact path will work in any machine
import sys
sys.path.append("../")
from gigadq import gigaid

# Read the datatable
import pandas as pd 
df = pd.read_csv('test_data.csv')

df['uuid'] = gigaid.gid(df) #Generate ID based on no columns - complete random

#df['uuid'] = gigaid.gid(df,v1='school_id',v2='school_name',v3='education_level',v4='latitude',v5='longitude') #Based on all 5 school identifier
#df['uuid'] = gigaid.gid(df,v1='school_id',v2='school_name',v3='education_level',v4='latitude') #Based on just 4
#df['uuid'] = gigaid.gid(df = df,v1='education_level',v2='school_id',v3='school_name') #Based on just 3
#df['uuid'] = gigaid.gid(df = df,v1='education_level',v2='school_id') #Based on just 2
df

# Columns are option arguments. You pass no columns and upto 5 columns. Raise an issue if you think we might want to create ID based on more than 5 columns input.
# You can pass any columns just pass them to arguments v1 to v5 in order. As shown in above examples.

,school_id,school_name,education_level,latitude,longitude,internet_availability,internet_type,uuid
0,203251718,abc,secondary,50.498461,62.235955,Yes,fiber optic,5e8ab2a5-1aae-3713-ab21-ddfdcf3d8372
1,20EE19574,2,primary,20.756124,82.365121,No,NaN,507b74b1-42e2-31f4-96f3-65db3f620adc
2,203276908,3,secondary,60.816715,12.332742,Yes,fiber optic,04c18c2e-b42e-39b5-806d-a6a54afd8fa6
3,20334386D,xyz,secondary,70.808128,22.336228,Yes,4G,027b161c-1d39-3a3f-ba33-f7f241cfe4ea
4,203210395,5,secondary,90.783878,82.332827,Yes,fiber optic,bf86f8f1-8dbb-3269-9216-8f473ced01aa
5,203213755,6,secondary,30.769692,12.377909,No,NaN,41a49d9b-1a7a-3131-97c0-5e698895b0e3